﻿body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Yu Gothic,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.toc-link {
    display: block;
    margin: 5px 0;
}

    .toc-link.level-1 {
        margin-left: 20px;
    }

    .toc-link.level-2 {
        margin-left: 40px;
    }

    .toc-link.level-3 {
        margin-left: 60px;
    }

.container {
    display: flex;
    height: 100%;
}

.left-pane, .right-pane {
    width: 300px;
    min-width: 300px;
    background-color: #f0f0f0;
    padding: 30px;
    overflow-y: auto;
}

    .left-pane a {
        padding: 12px 8px 12px 12px;
        color: #151312
    }

    .right-pane a {
        color: #151312
    }

.content-pane {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

    .content-pane pre {
        margin: 0px;
    }

    .content-pane code {
        font-size: 0.8rem;
        font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    }

    .content-pane p code, .content-pane li code {
        background-color: rgba(0,0,0,.05);
        border: 0;
        box-shadow: 0 0 0 1px rgba(0,0,0,.1);
        display: inline-block;
        padding: 0 0.3em;
        border-radius: 2px;
        margin: 0px 3px;
    }

    .content-pane iframe {
        border: solid 1px #808080;
        width: 100%;
    }

    .content-pane code.hljs {
        border-radius: 4px;
    }

    .content-pane pre {
        position: relative;
    }

    .content-pane .language-label {
        position: absolute;
        top: 0;
        right: 10px;
        padding: 2px 5px;
        font-size: 12px;
        color: #fff;
        background-color: #222;
        border-radius: 0 0 4px 4px;
        font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    }

    .content-pane table.hljs-ln .hljs-ln-line.hljs-ln-numbers {
        padding-right: .5em;
    }

    .content-pane img {
        border: solid 1px #222;
    }

.input-output-section {
    display: flex;
    width: 100%;
}

    .input-output-section .input-frame {
        /*width: 50%;*/
        height: 100%;
        min-width: 500px;
        box-sizing: border-box;
        padding-bottom: 1.5em;
    }

        .input-output-section .input-frame .hljs-code, pre, code {
            height: 100%;
            padding-bottom: 0px;
        }

        .input-output-section .input-frame code.hljs {
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
        }

    .input-output-section .output-frame {
        width: 100%;
        height: 100%;
    }

        .input-output-section .output-frame iframe {
            height: 100%;
        }

a .exlink {
    display: inline-block;
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgba(92, 147, 187, .2);
    border-radius: 4px;
    overflow: hidden;
    align-items: center;
    font-size: 16.5px;
    height: 80px;
}

    a .exlink p {
        text-decoration: none;
        color: rgba(0, 0, 0, .82);
        line-height: 1.5;
        margin: 10px;
    }

    a .exlink .exlink-title {
        font-weight: 700;
    }

    a .exlink .exlink-url {
        font-size: 0.8em;
    }

    a .exlink img {
        border: none !important;
    }

.info {
    display: inline-block;
    padding: 5px 40px 5px 20px;
    background-color: #f1f9ff;
    border: 0.5px solid #ccdce7;
    border-radius: 4px;
    width: auto;
    color: #354e5b;
}

.warn {
    display: inline-block;
    padding: 5px 40px 5px 20px;
    background-color: #fff9e8;
    border: 0.5px solid #e1d6bd;
    border-radius: 4px;
    width: auto;
    color: #514730;
}

.coution {
    display: inline-block;
    padding: 5px 40px 5px 20px;
    background-color: #ffeae8;
    border: 0.5px solid #e1bdbd;
    border-radius: 4px;
    width: auto;
    color: #513030;
}